In [1]:
cd Desktop/lambda_projects/food_desert/CAMS_ZIP

/home/jm/Desktop/lambda_projects/food_desert/CAMS_ZIP

In [ ]:
'''
Dependencies:

- geopandas
- descartes
- geopy
- numba

'''

In [2]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point, Polygon

In [ ]:
'''
Data files used in this notebook:

CAMS_ZIPCODE_STREET_SPECIFIC.cpg  
CAMS_ZIPCODE_STREET_SPECIFIC.shp
CAMS_ZIPCODE_STREET_SPECIFIC.dbf  
CAMS_ZIPCODE_STREET_SPECIFIC.shp.xml
CAMS_ZIPCODE_STREET_SPECIFIC.prj  
CAMS_ZIPCODE_STREET_SPECIFIC.shx
CAMS_ZIPCODE_STREET_SPECIFIC.sbn
CAMS_ZIPCODE_STREET_SPECIFIC.sbx
Listing_of_Active_Businesses.csv

'''

In [4]:
# Loading the data files
polygon_file = 'CAMS_ZIPCODE_STREET_SPECIFIC.shp'
polygons = gpd.read_file(polygon_file)

In [5]:
polygons.head(2)

,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len,geometry
0,1,105,0,90001,0.0,8499,0.0,90001,9.562251e+07,55969.055693,"POLYGON ((6483980.349832192 1818555.587574929,..."
1,2,194,1,90004,0.0,8502,0.0,90004,8.419310e+07,61463.722654,"POLYGON ((6473729.180045858 1852848.640051693,..."

In [6]:
converted = polygons.to_crs(epsg=4326)

In [7]:
converted.head(2)

,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len,geometry
0,1,105,0,90001,0.0,8499,0.0,90001,9.562251e+07,55969.055693,POLYGON ((-118.2562720327559 33.98921307224975...
1,2,194,1,90004,0.0,8502,0.0,90004,8.419310e+07,61463.722654,POLYGON ((-118.2904153141149 34.08336856317362...

In [8]:
from geopandas import GeoDataFrame, GeoSeries

# For google maps, we should change lat <-> lon
def swap_xy(geom):
 
    def swap_xy_coords(coords):
        for x, y in coords:
            yield (y, x)

    ring = geom.exterior
    shell = type(ring)(list(swap_xy_coords(ring.coords)))
    holes = list(geom.interiors)
    for pos, ring in enumerate(holes):
        holes[pos] = type(ring)(list(swap_xy_coords(ring.coords)))
    return type(geom)(shell, holes)
  
def flip_invert(poly):
  # Change to geoseries
  poly_geo = GeoSeries(poly)

  # Rotate and Flip
  return poly_geo.rotate(90).scale(-1)

In [9]:
#call the xy_swap and flip functions to transform to correct Polygon:
converted['xy_swapped'] = converted.geometry.apply(swap_xy)
converted['xy_swapped_flipped'] = converted.xy_swapped.apply(flip_invert)

In [10]:
converted.head(2)

,OBJECTID_1,OBJECTID,FID_1,Name,SDE_STATE_,ORIG_FID,Distance,Zip_Num,Shape_area,Shape_len,geometry,xy_swapped,xy_swapped_flipped
0,1,105,0,90001,0.0,8499,0.0,90001,9.562251e+07,55969.055693,POLYGON ((-118.2562720327559 33.98921307224975...,POLYGON ((33.98921307224975 -118.2562720327559...,POLYGON ((33.96552428750395 -118.2325832480101...
1,2,194,1,90004,0.0,8502,0.0,90004,8.419310e+07,61463.722654,POLYGON ((-118.2904153141149 34.08336856317362...,POLYGON ((34.08336856317362 -118.2904153141149...,POLYGON ((34.09625428569836 -118.3033010366397...

In [11]:
#new df w/ only the columns we need:
zip_df = converted[['Zip_Num', 'xy_swapped_flipped']]
zip_df = zip_df.rename(columns={'Zip_Num':'zip_code', 'xy_swapped_flipped': 'polygon_coords'})

In [12]:
zip_df.head(2)

   zip_code                                     polygon_coords
0     90001  POLYGON ((33.96552428750395 -118.2325832480101...
1     90004  POLYGON ((34.09625428569836 -118.3033010366397...

In [13]:
def gen_points_inside_polygon(polygon, miles=1):
    '''Takes a polygon and number of miles as input, creates a square grid around the polygon edges
    and iterates in default one mile chunks exhaustively acorss the grid, returns list of all the points
    generated'''
    
    #convert miles to degrees latitude/longitude 
    lat_increment = miles * 0.0145
    lon_increment = miles * 0.02 #this is specifically for L.A. (varies based on lat)
    
    #get the four corners of a grid of max and min lat/long values 
    min_lat, min_long, max_lat, max_long = polygon.bounds
    
    #iterate over the grid one unit at a time, append lats and lons to lists:
    longs, lats = [], []
    
    #Latitudes: start one half unit away from min_lat:
    lat = min_lat + (lat_increment / 2)
    while lat < max_lat:
        lats.append(lat)
        lat += lat_increment
    lats.append(max_lat)
    
    #repeat for longitude; conversion is diff, 1 mile = 0.0145 degrees
    #start one half unit above the min_lat
    lon = min_long + (lon_increment / 2)
    while lon < max_long:
        longs.append(lon)
        #increase .02 degrees (longitude conversion for Los Angeles)
        lon += lon_increment
    longs.append(max_long)

    #iterate thru all latitude and longitude points, instantiate shapely Point objects
    #and append them to a list:
    points = []
    for i in range(len(lats)):
        for j in range(len(longs)):
            points.append(Point(lats[i], longs[j]))
            
    #iterate over the points and throw out ones outside the polygon:
    points_inside_polygon = []
    for i in range(len(points)):
        if polygon.contains(points[i]):
            points_inside_polygon.append(points[i])
            
    #return the list of Shapely points which are bound inside the polygon        
    return points_inside_polygon

In [14]:
#call the function and make a new column in our zip_df that holds a lit of points inside the polygon
zip_df['test_points'] = zip_df.polygon_coords.apply(gen_points_inside_polygon)

In [15]:
zip_df.head(2)

,zip_code,polygon_coords,test_points
0,90001,POLYGON ((33.96552428750395 -118.2325832480101...,"[POINT (33.96386274228264 -118.2522613507889),..."
1,90004,POLYGON ((34.09625428569836 -118.3033010366397...,"[POINT (34.0553455342375 -118.3081234685644), ..."

In [16]:
#create new column that displays the num of points inside the polygon
zip_df['num_points'] = zip_df['test_points'].apply(len)

In [17]:
zip_df.head(2)

,zip_code,polygon_coords,test_points,num_points
0,90001,POLYGON ((33.96552428750395 -118.2325832480101...,"[POINT (33.96386274228264 -118.2522613507889),...",2
1,90004,POLYGON ((34.09625428569836 -118.3033010366397...,"[POINT (34.0553455342375 -118.3081234685644), ...",4

In [18]:
zip_df.num_points.sum()

3637

In [19]:
#Load the business data and clean up the df to our final list of markets/groceries
df_business = pd.read_csv('Listing_of_Active_Businesses.csv')

# Return a dataframe that contains market, grocery or food.
df_business_market = df_business[df_business['PRIMARY NAICS DESCRIPTION'].str.contains('market|grocery', flags=re.IGNORECASE, regex=True) == True]

# Return a dataframe that doesn't contain 'telephone|business|research'
df_business_market_clean = df_business_market[~df_business_market['PRIMARY NAICS DESCRIPTION'].str.contains('telephone|business|research') == True]

# Extract Latitude and put it in a column
df_business_market_clean['LATITUDE'] = df_business_market_clean['LOCATION'].str.extract('\((.*),').astype(float)

# Extract Longitude and put it in a column
df_business_market_clean['LONGITUDE'] = df_business_market_clean['LOCATION'].str.extract(',(.*)\)').astype(float)

# Remove coordinates outside of LA
df_business_market_clean = df_business_market_clean[(df_business_market_clean['LONGITUDE'] < -117.7) & (df_business_market_clean['LONGITUDE'] > -118.9)]

# Dataframe with no Nulls for location
markets = df_business_market_clean.dropna(subset=['LOCATION'])

/home/jm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/jm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
drop_cols = ['LOCATION ACCOUNT #', 'BUSINESS NAME', 'LOCATION DESCRIPTION', 'MAILING ADDRESS',
             'MAILING CITY', 'MAILING ZIP CODE', 'NAICS', 'COUNCIL DISTRICT', 'LOCATION START DATE',
             'LOCATION END DATE']

markets = markets.drop(columns=drop_cols).reset_index(drop=True)

In [21]:
#markets['LOCATION'] = markets['LOCATION'].apply(Point)
for i in range(len(markets)):
    lat = markets.at[i, 'LATITUDE']
    lon = markets.at[i, 'LONGITUDE']
    markets.at[i, "LOCATION"] = Point(lat, lon)

In [22]:
markets.head(2)

,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,PRIMARY NAICS DESCRIPTION,LOCATION,LATITUDE,LONGITUDE
0,SILVER MOON MARKET,2501 E 4TH STREET,LOS ANGELES,90033-4418,Grocery & related products,POINT (34.0401 -118.2106),34.0401,-118.2106
1,VENUS MARKET,10117 AVALON BLVD,LOS ANGELES,90003-4817,Grocery stores (including supermarkets & conve...,POINT (33.9442 -118.2651),33.9442,-118.2651

In [24]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

def travel(lat, lon, bearing=0, miles=0.5):
    import geopy
    import geopy.distance
    
    # Starting point
    start = geopy.Point(lat, lon)

    # Initialized with a default distance of 0.5 mi.
    end = geopy.distance.geodesic(miles=miles)

    # Destination method which takes the starting point and bearings(North=0).
    # Return coordinates from start to distance,d, traveled
    return end.destination(point=start, bearing=bearing)
       
def make_circle(lat, lon, miles=0.5):
    '''takes a coordinate of latitude, longitude and a distance in miles, creates a 360 sided polygon around the '''
    circle_points = []  
    for i in range(360):
        new_point = travel(lat, lon, bearing=i, miles=miles)
        new_point = new_point[0], new_point[1]
        circle_points.append(new_point)
    circle = Polygon(circle_points)
    return circle

def get_groceries_within_circle(df, circle):
    df_copy = df.copy()
    in_circle = []
    #iterate over every grocery in the df
    for i in range(len(df_copy)):
        point = df_copy.iloc[i]['LOCATION']
        if circle.contains(point):
            # Grocery within Circle
            in_circle.append(True)
        else:
            # NoGrocery within Circle
            in_circle.append(False)
    df_copy['in_circle'] = in_circle
    # Returns a data frame containing all grocery stores within the circle
    return df_copy[df_copy['in_circle'] == True]

In [31]:
test_points = zip_df.iloc[0].test_points
test_point = test_points[0]
lat, lon = test_point.x, test_point.y
test_circle = make_circle(lat, lon, miles=0.5)

In [32]:
res = get_groceries_within_circle(markets, test_circle)

In [33]:
res

,DBA NAME,STREET ADDRESS,CITY,ZIP CODE,PRIMARY NAICS DESCRIPTION,LOCATION,LATITUDE,LONGITUDE,in_circle
417,7-ELEVEN STORE 34535A,8600 S CENTRAL AVENUE,LOS ANGELES,90002-1124,Grocery stores (including supermarkets & conve...,POINT (33.9601 -118.2563),33.9601,-118.2563,True
462,LA FAMILIA 2014,7919 S CENTRAL AVENUE,LOS ANGELES,90001-3317,Grocery stores (including supermarkets & conve...,POINT (33.9672 -118.2564),33.9672,-118.2564,True
600,NaN,940 E 87TH STREET,LOS ANGELES,90002-1103,Fruit & vegetable markets,POINT (33.9592 -118.2572),33.9592,-118.2572,True
1150,LA FAMILIA MARKET,7915 S CENTRAL AVENUE,LOS ANGELES,90001-3317,Grocery stores (including supermarkets & conve...,POINT (33.9673 -118.2564),33.9673,-118.2564,True
1324,NaN,8628 S CENTRAL AVENUE,LOS ANGELES,90002-1112,Grocery & related products,POINT (33.9599 -118.2563),33.9599,-118.2563,True
2433,SAVE A LOT #775,8601 HOOPER AVENUE,LOS ANGELES,90002-1144,Grocery stores (including supermarkets & conve...,POINT (33.9599 -118.2546),33.9599,-118.2546,True

In [34]:
def search_for_deserts(list_of_points):
    '''takes a list of Shapely Points, iterates over them and checks if grocery is nearby, 
    return False if groceries are nearby, True if food desert'''
    flag = False
    desert_list = []
    for point in list_of_points:
        lat, lon = point.x, point.y
        circle = make_circle(lat, lon)
        result_df = get_groceries_within_circle(markets, circle)
        if len(result_df) == 0:
            desert_list.append((lat, lon))
            flag = True
    if flag:
        return desert_list
    else:
        return flag

In [35]:
list_of_points = zip_df.iloc[0].test_points
search_for_deserts(list_of_points)

False

In [36]:
subset = zip_df.iloc[:2]
subset

,zip_code,polygon_coords,test_points,num_points
0,90001,POLYGON ((33.96552428750395 -118.2325832480101...,"[POINT (33.96386274228264 -118.2522613507889),...",2
1,90004,POLYGON ((34.09625428569836 -118.3033010366397...,"[POINT (34.0553455342375 -118.3081234685644), ...",4

In [37]:
subset['desert_search'] = subset.test_points.apply(search_for_deserts)

/home/jm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
subset.head()

,zip_code,polygon_coords,test_points,num_points,desert_search
0,90001,POLYGON ((33.96552428750395 -118.2325832480101...,"[POINT (33.96386274228264 -118.2522613507889),...",2,False
1,90004,POLYGON ((34.09625428569836 -118.3033010366397...,"[POINT (34.0553455342375 -118.3081234685644), ...",4,False

In [190]:
len(zip_df)

358

In [39]:
first50 = zip_df.iloc[:50]
second50 = zip_df.iloc[50:100]
third50 = zip_df.iloc[100:150]
fourth50 =zip_df.iloc[150:200]
fifth50 = zip_df.iloc[200:250]
sixth50 = zip_df.iloc[250:300]
last58 = zip_df.iloc[300:]

In [194]:
first50['desert_search'] = first50.test_points.apply(search_for_deserts)
first50

,zip_code,polygon_coords,test_points,num_points,desert_search
0,90001,POLYGON ((33.96552428750395 -118.2325832480101...,"[POINT (33.96386274228264 -118.2522613507889),...",2,False
1,90004,POLYGON ((34.09625428569836 -118.3033010366397...,"[POINT (34.0553455342375 -118.3081234685644), ...",4,False
2,90006,"POLYGON ((34.0562936344686 -118.2846231702724,...","[POINT (34.03742267504161 -118.291367217405), ...",2,False
3,90007,POLYGON ((34.01640841554789 -118.2687503598564...,"[POINT (34.01527600193315 -118.2870569773083),...",2,False
4,90008,"POLYGON ((33.9881316350926 -118.337430015794, ...","[POINT (33.98480939440927 -118.3486081987702),...",4,False
5,90010,POLYGON ((34.05957157434112 -118.3177037934682...,[],0,False
6,90011,POLYGON ((34.02414408048078 -118.2651440991325...,"[POINT (34.00082048509941 -118.2703925536549),...",4,False
7,90012,"POLYGON ((34.0671096050594 -118.2161405903046,...","[POINT (34.0735077328263 -118.2572263594001), ...",2,False
8,90013,POLYGON ((34.03676464767061 -118.2345966056533...,[POINT (34.03979552022915 -118.2391841553905)],1,False
9,90014,POLYGON ((34.04006911077899 -118.2461140037061...,[],0,False
10,90015,"POLYGON ((34.03175475637852 -118.254729313942,...","[POINT (34.03012389467666 -118.2692370416975),...",2,False
11,90017,POLYGON ((34.04917920606536 -118.2564909324712...,[POINT (34.05009049506521 -118.2634996626395)],1,False
12,90018,POLYGON ((34.04310142214834 -118.3060249921843...,"[POINT (34.01868059816175 -118.3195311117206),...",2,False
13,90019,"POLYGON ((34.05874924608987 -118.32924937548, ...","[POINT (34.0254330736618 -118.3402116468507), ...",4,False
14,90021,POLYGON ((34.02506094454245 -118.2276860903876...,"[POINT (34.01952179751501 -118.2435801776112),...",2,False
15,90022,POLYGON ((34.01306321281854 -118.1348135388397...,"[POINT (34.01097936328321 -118.1642419639838),...",4,False
16,90023,POLYGON ((34.03933419578651 -118.2171880038474...,"[POINT (33.99683821805336 -118.1927511113876),...",6,False
17,90024,"POLYGON ((34.0694610840021 -118.4194936433972,...","[POINT (34.06574462664443 -118.4429548636796),...",2,False
18,90025,POLYGON ((34.06798102028995 -118.4299620672642...,"[POINT (34.02553045329839 -118.4480407764004),...",2,False
19,90026,POLYGON ((34.06263651902466 -118.2431536032336...,"[POINT (34.06153200736307 -118.2517299071481),...",4,False
20,90027,POLYGON ((34.10956934671584 -118.2562876349791...,"[POINT (34.1124525068341 -118.3125330906687), ...",8,False
21,90028,POLYGON ((34.11747951416818 -118.3211429021177...,"[POINT (34.08897880293004 -118.3244316407591),...",2,False
22,90031,"POLYGON ((34.09736713221729 -118.196870502376,...","[POINT (34.07257013259179 -118.2334982635782),...",4,False
23,90033,POLYGON ((34.05964926460916 -118.1926657987645...,"[POINT (34.03350247168814 -118.2123417022477),...",2,False
24,90034,POLYGON ((34.03706270444543 -118.3833962262534...,"[POINT (34.00622324119021 -118.406421442858), ...",4,False
25,90035,POLYGON ((34.06029690085711 -118.3781355867974...,"[POINT (34.03850465186456 -118.3863084028673),...",3,False
26,90036,POLYGON ((34.05971210363717 -118.3373219211133...,"[POINT (34.06415544376165 -118.3545533852558),...",2,False
27,90037,POLYGON ((33.99430096208133 -118.2726451393061...,"[POINT (33.99677934912653 -118.2911122621846),...",2,False
28,90038,POLYGON ((34.10666972667295 -118.3209933861667...,"[POINT (34.07796360338692 -118.3233212010048),...",2,False
29,90039,POLYGON ((34.10909523344471 -118.2344387696865...,"[POINT (34.10823649496346 -118.2843077812928),...",5,False
30,90048,POLYGON ((34.08405684856046 -118.3630649107963...,[POINT (34.0780486414962 -118.3788780680029)],1,False
31,90049,POLYGON ((34.06596697234718 -118.4408909443982...,"[POINT (34.05771218838228 -118.4811493873552),...",13,False
32,90057,POLYGON ((34.05380767990901 -118.2646534117338...,[POINT (34.06057229011931 -118.2758565500173)],1,False
33,90058,POLYGON ((33.96606596657161 -118.1885551083058...,"[POINT (33.972290242676 -118.2157277083948), P...",5,False
34,90061,POLYGON ((33.92561946116628 -118.2557671152177...,"[POINT (33.91686691009971 -118.2831138259802),...",3,False
35,90062,POLYGON ((34.00124991316628 -118.2946028305103...,[POINT (34.00193186521345 -118.3132949237449)],1,False
36,90063,POLYGON ((34.03940079001663 -118.1697543120354...,"[POINT (34.03431177852356 -118.1951464608561),...",4,False
37,90064,POLYGON ((34.04399234588807 -118.4182287817184...,"[POINT (34.01301007520988 -118.4373475286602),...",4,False
38,90065,POLYGON ((34.11168305207178 -118.2000684804174...,"[POINT (34.10564382519851 -118.2280686784604),...",4,False
39,90066,POLYGON ((34.01413768903619 -118.4201855915193...,"[POINT (33.98353085109052 -118.4293859785529),...",5,False
40,90067,POLYGON ((34.05762494001797 -118.4077521686201...,[POINT (34.05735134615892 -118.4104655437219)],1,False
41,90069,POLYGON ((34.08981369998764 -118.3683340535876...,"[POINT (34.08604112265132 -118.3850948168744),...",2,False
42,90071,POLYGON ((34.05289636863041 -118.2524395124458...,[],0,False
43,90073,POLYGON ((34.05299544945194 -118.4515707910021...,[POINT (34.05434731659197 -118.4588279710565)],1,False
44,90089,POLYGON ((34.01923941943382 -118.2821529756243...,[],0,False
45,90095,"POLYGON ((34.07324625061078 -118.440288040789,...",[],0,False
46,90211,POLYGON ((34.06219542654047 -118.3762711024346...,[POINT (34.06253178883091 -118.378837410239)],1,False
47,90212,POLYGON ((34.05547668657906 -118.3951887518951...,"[POINT (34.0553193221787 -118.3997125495799), ...",2,False
48,90221,POLYGON ((33.87544012289337 -118.1713343962823...,"[POINT (33.8671629363608 -118.2285582547856), ...",4,False
49,90222,POLYGON ((33.92419674258775 -118.2250134005486...,"[POINT (33.90040361666618 -118.2362029008723),...",3,False

In [204]:
second50['desert_search'] = second50.test_points.apply(search_for_deserts)
second50

,zip_code,polygon_coords,test_points,num_points,desert_search
50,90230,POLYGON ((33.99021868933325 -118.3786740304815...,"[POINT (33.97958010218505 -118.4052351885026),...",6,"(False, [])"
51,90240,POLYGON ((33.95139663474716 -118.0997342193382...,"[POINT (33.93575214361699 -118.1077020311311),...",3,"(False, [])"
52,90241,POLYGON ((33.92105799306123 -118.1045283710712...,"[POINT (33.91006496135897 -118.1179046538797),...",4,"(False, [])"
53,90245,POLYGON ((33.91292305508428 -118.3853575775064...,"[POINT (33.89481588648329 -118.4049860284467),...",3,"(False, [])"
54,90247,POLYGON ((33.90753383163474 -118.2780184508395...,"[POINT (33.88730748567107 -118.3117847137752),...",3,"(False, [])"
55,90248,POLYGON ((33.88766503449096 -118.2539760453256...,"[POINT (33.86718439381167 -118.3090163084153),...",4,"(False, [])"
56,90263,POLYGON ((34.04509584703257 -118.7085916801656...,[],0,"(False, [])"
57,90272,POLYGON ((34.09334066142182 -118.4910629404864...,"[POINT (34.04393948890697 -118.5467905112189),...",21,"(False, [])"
58,90290,POLYGON ((34.12049403464077 -118.5633724526637...,"[POINT (34.05635250840596 -118.5902052069806),...",17,"(False, [])"
59,90291,POLYGON ((34.00293771702104 -118.4495559218664...,"[POINT (33.98159918287924 -118.4690123981757),...",2,"(False, [])"
60,90292,"POLYGON ((33.98349875655265 -118.432964842296,...","[POINT (33.96561363954491 -118.4531764170388),...",2,"(False, [])"
61,90293,POLYGON ((33.94973576580591 -118.4129419993274...,"[POINT (33.94740408417604 -118.4536766805225),...",2,"(False, [])"
62,90304,"POLYGON ((33.9336496388144 -118.3495021008809,...","[POINT (33.93228754151731 -118.3552695931706),...",2,"(False, [])"
63,90401,POLYGON ((34.01943074887325 -118.4840251902728...,[POINT (34.0120486509001 -118.4928481530743)],1,"(False, [])"
64,90402,POLYGON ((34.04391054417634 -118.4878808558841...,"[POINT (34.02459550171628 -118.507152055442), ...",2,"(False, [])"
65,90403,POLYGON ((34.04696632135428 -118.4768952153544...,[POINT (34.01956500682341 -118.4948319403134)],1,"(False, [])"
66,90404,POLYGON ((34.03091750910595 -118.4599468588175...,"[POINT (34.01547233023945 -118.4760802102247),...",2,"(False, [])"
67,90405,POLYGON ((34.03203608472137 -118.4583544950314...,"[POINT (33.99445526083367 -118.4743592856838),...",3,"(False, [])"
68,90502,POLYGON ((33.84026591744379 -118.2720684690408...,"[POINT (33.83391476591751 -118.3071986022734),...",2,"(False, [])"
69,90504,POLYGON ((33.88982254413725 -118.3194637007775...,"[POINT (33.85473507573521 -118.3387614618427),...",4,"(False, [])"
70,90505,POLYGON ((33.80637167059849 -118.3259433477269...,"[POINT (33.7875700280668 -118.3447811203695), ...",4,"(False, [])"
71,90506,"POLYGON ((33.8887575179986 -118.3323528673736,...",[],0,"(False, [])"
72,90602,POLYGON ((33.98517073971811 -118.0134983062894...,"[POINT (33.95478068181878 -118.0364711718584),...",4,"(False, [])"
73,90603,POLYGON ((33.95713361571451 -117.9758062748577...,"[POINT (33.93958312253433 -118.0038952440907),...",2,"(False, [])"
74,90605,POLYGON ((33.96843052009868 -117.9929616461394...,"[POINT (33.91429886121878 -118.0352626373155),...",5,"(False, [])"
75,90606,POLYGON ((33.97960928094155 -118.0434496577025...,"[POINT (33.96442061170688 -118.0784365335614),...",4,"(False, [])"
76,90623,POLYGON ((33.85383495383223 -118.0518205897775...,[],0,"(False, [])"
77,90630,POLYGON ((33.82652300502316 -118.0627161756753...,[],0,"(False, [])"
78,90631,POLYGON ((33.96670551432383 -117.9398549184988...,"[POINT (33.9451425747084 -117.9603323074879), ...",4,"(False, [])"
79,90639,"POLYGON ((33.9096886003278 -118.0102435995037,...",[],0,"(False, [])"
80,90650,POLYGON ((33.90132052456637 -118.0502698756645...,"[POINT (33.87943849454336 -118.0934295565003),...",11,"(False, [])"
81,90670,"POLYGON ((33.92673603937838 -118.020316716997,...","[POINT (33.89866541564284 -118.0373681878027),...",8,"(False, [])"
82,90701,POLYGON ((33.87205406226215 -118.0699856495901...,[POINT (33.86261805543251 -118.0839004123471)],1,"(False, [])"
83,90703,POLYGON ((33.90677398728835 -118.0531224793034...,"[POINT (33.8341970106744 -118.0796953745735), ...",9,"(False, [])"
84,90704,"POLYGON ((32.79519024389704 -118.359167657384,...","[POINT (32.78714242636141 -118.3585874388612),...",55,"(False, [])"
85,90706,POLYGON ((33.87599712218744 -118.1073281002155...,"[POINT (33.87314397171932 -118.14162581332), P...",5,"(False, [])"
86,90710,POLYGON ((33.79562556304593 -118.2807329794481...,"[POINT (33.79114481331807 -118.3048498346922),...",4,"(False, [])"
87,90713,POLYGON ((33.84410004286768 -118.0922487663925...,"[POINT (33.83944962158616 -118.1196160678872),...",3,"(False, [])"
88,90715,POLYGON ((33.83769291103567 -118.0700070770455...,"[POINT (33.82770277033821 -118.0781982550609),...",3,"(False, [])"
89,90716,POLYGON ((33.83497028202959 -118.0679079951322...,[POINT (33.82677935249264 -118.0704429358369)],1,"(False, [])"
90,90731,"POLYGON ((33.72465021442021 -118.239251827847,...","[POINT (33.72016551346965 -118.3069625047814),...",13,"(False, [])"
91,90744,POLYGON ((33.77387721731338 -118.2316191323287...,"[POINT (33.74776782250187 -118.2544823362976),...",8,"(False, [])"
92,90745,"POLYGON ((33.8057385835248 -118.2322229136302,...","[POINT (33.80399952488855 -118.2805696405578),...",8,"(False, [])"
93,90747,POLYGON ((33.86772840263487 -118.2524986142248...,[],0,"(False, [])"
94,90755,POLYGON ((33.79747744996982 -118.1530004154034...,"[POINT (33.79385789048747 -118.1717506600891),...",2,"(False, [])"
95,90802,POLYGON ((33.76084158574885 -118.1860844461225...,"[POINT (33.71937911961874 -118.2190374378031),...",5,"(False, [])"
96,90803,POLYGON ((33.77836571920074 -118.1148326681813...,"[POINT (33.75707588572473 -118.1365061064503),...",5,"(False, [])"
97,90804,POLYGON ((33.75999145543037 -118.1362317566056...,"[POINT (33.76668819733368 -118.142708974229), ...",2,"(False, [])"
98,90806,POLYGON ((33.79385968754468 -118.1646882398958...,"[POINT (33.79944920190736 -118.2000393207938),...",3,"(False, [])"
99,90807,POLYGON ((33.83662670364667 -118.1560376632068...,"[POINT (33.81053082740084 -118.1727744222575),...",4,"(False, [])"

In [40]:
third50['desert_search'] = third50.test_points.apply(search_for_deserts)
third50

/home/jm/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,zip_code,polygon_coords,test_points,num_points,desert_search
100,90810,POLYGON ((33.81824250663111 -118.1924151916825...,"[POINT (33.80373707812628 -118.2019484844639),...",5,"[(33.803737078126275, -118.2019484844639), (33..."
101,90813,"POLYGON ((33.77169008024333 -118.185931204169,...","[POINT (33.75707007295394 -118.1972214660561),...",4,"[(33.75707007295394, -118.19722146605613), (33..."
102,90814,POLYGON ((33.74811521219225 -118.1383622440709...,[],0,False
103,90815,POLYGON ((33.83211896928319 -118.0989190739421...,"[POINT (33.76203248340066 -118.1051087988009),...",7,"[(33.76203248340066, -118.1051087988009), (33...."
104,90822,POLYGON ((33.78207963304754 -118.1218060346414...,[],0,False
105,90831,POLYGON ((33.76669551231173 -118.2008691787412...,[],0,False
106,90840,POLYGON ((33.78601071136687 -118.1076393704486...,[],0,False
107,91011,POLYGON ((34.21545227205264 -118.0790447848971...,"[POINT (34.15057190477002 -118.1483874050695),...",25,"[(34.15057190477002, -118.14838740506947), (34..."
108,91020,POLYGON ((34.20738201182864 -118.2219598652635...,[POINT (34.20940717672147 -118.2292811392743)],1,False
109,91023,"POLYGON ((34.23523806174995 -118.066537247847,...",[POINT (34.22088848895179 -118.0616737568463)],1,"[(34.220888488951786, -118.06167375684633)]"
110,91024,POLYGON ((34.22973028524507 -117.9323073577208...,"[POINT (34.17377512930757 -117.9758180751605),...",48,"[(34.17377512930757, -117.97581807516053), (34..."
111,91040,POLYGON ((34.31935165788769 -118.3166099609588...,"[POINT (34.21546472681864 -118.3457695226699),...",14,"[(34.21546472681864, -118.34576952266988), (34..."
112,91042,POLYGON ((34.27838053849756 -118.1571367249768...,"[POINT (34.23308426973652 -118.2940397742249),...",47,"[(34.23308426973652, -118.29403977422494), (34..."
113,91046,POLYGON ((34.21287412808826 -118.2412781741704...,[],0,False
114,91101,POLYGON ((34.14365028577762 -118.1281646337519...,[POINT (34.14588290231144 -118.1401145896731)],1,"[(34.14588290231144, -118.1401145896731)]"
115,91103,POLYGON ((34.16653778981502 -118.1427445411762...,"[POINT (34.15533242220735 -118.1630911572672),...",5,"[(34.15533242220735, -118.16309115726725), (34..."
116,91104,POLYGON ((34.14891740038672 -118.1098932566972...,"[POINT (34.1524510803233 -118.1245991398783), ...",3,"[(34.1669510803233, -118.12459913987827), (34...."
117,91125,POLYGON ((34.13989884846966 -118.1227298397668...,[],0,False
118,91126,POLYGON ((34.13604071914251 -118.1245528738368...,[],0,False
119,91201,POLYGON ((34.19487206830786 -118.2688982238282...,"[POINT (34.16031860894429 -118.2954706635423),...",4,"[(34.160318608944294, -118.29547066354228), (3..."
120,91203,POLYGON ((34.16259406148122 -118.2587638741552...,[POINT (34.14864167704351 -118.2613706405891)],1,"[(34.148641677043514, -118.26137064058906)]"
121,91204,"POLYGON ((34.1289699878611 -118.2481171135263,...",[],0,False
122,91205,POLYGON ((34.13610206484574 -118.2275101749459...,[POINT (34.12696411277737 -118.2459000062705)],1,False
123,91206,POLYGON ((34.17782029904545 -118.1972234542173...,"[POINT (34.13652275591392 -118.2290522409277),...",6,"[(34.151022755913914, -118.22905224092769), (3..."
124,91207,POLYGON ((34.16704923408079 -118.2273498060767...,"[POINT (34.16860728858811 -118.2398549914463),...",2,"[(34.168607288588106, -118.23985499144628), (3..."
125,91208,POLYGON ((34.18307260910261 -118.2214388570119...,"[POINT (34.158755438974 -118.2274155125827), P...",7,"[(34.158755438974, -118.22741551258268), (34.1..."
126,91210,POLYGON ((34.14647423694899 -118.2563759223664...,[],0,False
127,91214,POLYGON ((34.25057963791534 -118.2184514353532...,"[POINT (34.22586043874919 -118.2493303416522),...",8,"[(34.225860438749194, -118.22933034165221), (3..."
128,91301,POLYGON ((34.14868644041442 -118.7361314750197...,"[POINT (34.07871936308051 -118.785043249478), ...",24,"[(34.07871936308051, -118.78504324947798), (34..."
129,91303,POLYGON ((34.18811828406392 -118.5901482953309...,"[POINT (34.19109564018338 -118.6020740657727),...",2,False
130,91306,POLYGON ((34.20459752104166 -118.5524563362487...,"[POINT (34.20288484095244 -118.5884388310816),...",4,False
131,91316,POLYGON ((34.15571261923402 -118.4875743761682...,"[POINT (34.14789582314324 -118.5351751315682),...",6,"[(34.147895823143244, -118.51517513156823), (3..."
132,91324,POLYGON ((34.25073406480746 -118.5319635360404...,"[POINT (34.22714169055199 -118.5616763158727),...",3,False
133,91325,POLYGON ((34.23280961233455 -118.4926225163792...,"[POINT (34.23770724102248 -118.5336525768765),...",2,"[(34.23770724102248, -118.51365257687655)]"
134,91330,POLYGON ((34.25134164558156 -118.5242735186786...,[POINT (34.24817653075009 -118.5293465196214)],1,"[(34.24817653075009, -118.52934651962138)]"
135,91335,POLYGON ((34.22246121545072 -118.5205641767888...,"[POINT (34.18604194136566 -118.5507044914294),...",6,False
136,91340,POLYGON ((34.29249698973453 -118.4151897416032...,"[POINT (34.2716514057493 -118.4433717626041), ...",4,False
137,91342,POLYGON ((34.45760369467301 -118.3509601422444...,"[POINT (34.21091619866098 -118.3920888357793),...",58,"[(34.25441619866098, -118.3920888357793), (34...."
138,91343,POLYGON ((34.21840912512972 -118.4589890918189...,"[POINT (34.2209391954091 -118.4856190120769), ...",5,False
139,91344,POLYGON ((34.28897775242967 -118.4791821396007...,"[POINT (34.25690642242483 -118.4928736449747),...",13,"[(34.27140642242483, -118.53287364497469), (34..."
140,91345,POLYGON ((34.26996113529724 -118.4460965620312...,"[POINT (34.26045831466823 -118.4673366499756),...",3,"[(34.274958314668226, -118.46733664997559)]"
141,91356,"POLYGON ((34.177395021595 -118.5242372615382, ...","[POINT (34.13917973198511 -118.5695004183327),...",6,"[(34.13917973198511, -118.56950041833274), (34..."
142,91361,"POLYGON ((34.16722893407 -118.8195215991226, 3...","[POINT (34.11026180013602 -118.8469283459133),...",5,"[(34.110261800136016, -118.8469283459133), (34..."
143,91362,POLYGON ((34.16790292579056 -118.8041903918581...,"[POINT (34.15178780844448 -118.8025655417735),...",2,"[(34.15178780844448, -118.80256554177353), (34..."
144,91364,POLYGON ((34.19277044740549 -118.5823898209478...,"[POINT (34.13761433351296 -118.5885674275235),...",7,"[(34.13761433351296, -118.58856742752351), (34..."
145,91367,POLYGON ((34.21941993196887 -118.5991668904271...,"[POINT (34.14389084845708 -118.6212815079119),...",4,"[(34.143890848457076, -118.62128150791192)]"
146,91382,POLYGON ((34.34758210433318 -118.6148820780217...,"[POINT (34.35396883411887 -118.655915636773), ...",8,"[(34.353968834118874, -118.65591563677297), (3..."
147,91384,POLYGON ((34.67691292849965 -118.5095516771686...,"[POINT (34.4014308150437 -118.5647212540502), ...",145,"[(34.401430815043696, -118.56472125405023), (3..."
148,91387,POLYGON ((34.43231181047193 -118.3418109259451...,"[POINT (34.35533131232958 -118.402335288821), ...",26,"[(34.35533131232958, -118.402335288821), (34.3..."
149,91401,POLYGON ((34.18028922543725 -118.4175583090147...,"[POINT (34.16782617402011 -118.436482452496), ...",3,False

In [ ]:
fourth50['desert_search'] = fourth50.test_points.apply(search_for_deserts)
fourth50

In [ ]:
fifth50['desert_search'] = fifth50.test_points.apply(search_for_deserts)
fifth50

In [ ]:
sixth50['desert_search'] = sixth50.test_points.apply(search_for_deserts)
sixth50

In [ ]:
last58['desert_search'] = last58.test_points.apply(search_for_deserts)
last58